{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <section class="w-50 m-auto">
        <h1>New book</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Send</button>
        {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
