<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_main_index') }}">Sensio TV+</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <twig:NavLink target="app_main_index" label="Home"/>
            <twig:NavLink target="app_book_index" label="Book"/>
            <twig:NavLink target="app_movie_index" label="Movie"/>
            <twig:NavLink target="app_main_contact" label="Contact"/>
        </ul>
    </div>
</nav>
