{% props target = '', label = '' %}

<li class="nav-item">
    <a href="{{ path(target) }}" class="nav-link{{ app.current_route starts with target|slice(0, 8) ? ' active' : '' }}">
        {{ label }}
    </a>
</li>
