{% props target = '', label = '' %}

<li class="nav-item">
    <a href="{{ path(target) }}"
       class="nav-link{{ app.current_route == target ? ' active' : '' }}">
        {{ label }}
    </a>
</li>
